.testimonials {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //width: 100%;
    margin: 20px;
}

img {
    width: 70%;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0 0 0 / 10%);
}

.portrait{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav_button{
    position: absolute;
    bottom: -20px;
    
}

p {
    margin: 60px 10px 10px 10px;
    text-align: center;
    font-size: 20px;
    color: #242136;
}

.name {
    color: #242136;
    margin-top: 10px;
    font-weight: 700;
}

.profession {
    margin-top: 3px;
    opacity: 0.2;
} 