.testimonials {
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px 10px 60px 10px;
}

.img_container {
    display: flex;
    flex-direction: column;

}

.info_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

//estilos img container
img {
    width: 70%;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(0 0 0 / 10%);
    background-image: "./pattern-bg.svg";
}

.portrait{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav_button{
    position: absolute;
    bottom: -20px;
    background-color: transparent;
}


//estilos info container
p {
    margin: 60px 10px 10px 10px;
    text-align: center;
    font-size: 15px;
    color: #242136;

}

.personal_data{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.name {
    color: #242136;
    font-weight: 700;
    text-align: center;
    font-size: 16px;
}

.profession {
    margin-top: 3px;
    opacity: 0.2;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
} 

//background image
.img_background{
    //width: 200px;
    //height: 300px;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

//quatetion marks
.img_marks{
    position: absolute;
    top: -15px;
    left: 40%;
    z-index: -1;
}

//media query 

@media (min-width:768px){
    .img_container{
        width: 60%;
    }
    .info_container{
        width: 70%;
    }
    p{
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
    .container {
        flex-direction: row-reverse;
        position: relative;
        justify-content: space-between;
    }
    .img_container {
        width: 50%;
    }
    .info_container{
        width: 50%;
        position: absolute;
        left: 100px;
    }
    .nav_button{
        left: 100px;
    }
    .personal_data{
        flex-direction: row;
        align-items: center;
        gap: 10px;
        margin-top: 40px;
    }
    p{
        text-align: left;
        margin: 0;
        font-size: 26px;
    }
    .name{
        font-size: 28px;
    }
    .profession{
        font-size: 28px;
    }

}

@media (min-width: 1440px) {
    .info_container{
        left: 220px;
        width: 45%;
    }
    .nav_button{
        left: 200px;
    }
    p{
        font-size: 26px;
    }
    .name{
        font-size: 22px;
    }
    .profession{
        font-size: 22px;
    }

}